{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "func-names": [
      "error",
      "never"
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "__id",
          "_id"
        ]
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "prefer-spread": 0,
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "singleQuote": true
      }
    ]
  }
}